absl-py==1.4.0
aiofiles
aiosqlite 
anyio 
appdirs==1.4.4
appnope
argon2-cffi 
argon2-cffi-bindings 
asttokens 
astunparse==1.6.3
attrs 
Babel 
backcall
beautifulsoup4 
bleach 
blosc2==2.0.0
Bottleneck
brotlipy==0.7.0
cachetools==5.3.1
certifi==2023.5.7
cffi 
chardet==3.0.4
charset-normalizer 
colorlover==0.3.0
comm 
contourpy 
cryptography 
cufflinks==0.17.3
cycler 
Cython==3.0.0b3
DateTime==5.1
debugpy 
decorator 
defusedxml 
deprecation==2.1.0
eikon==1.1.16
entrypoints 
et-xmlfile==1.1.0
executing 
fastjsonschema 
flatbuffers==23.5.26
fonttools==4.25.0
frozendict==2.3.8
gast==0.4.0
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.0
h11==0.14.0
h2==3.2.0
h5py==3.9.0
hpack==3.0.0
html5lib==1.1
httpcore==0.17.3
httpx==0.24.1
hyperframe==5.2.0
idna==2.10
inflection==0.5.1
ipykernel 
ipython
ipython-genutils
ipywidgets 
jax==0.4.13
jedi 
Jinja2
joblib 
json5 
jsonschema 
jupyter 
keras==2.12.0
libclang==16.0.0
lxml 
Markdown==3.4.3
MarkupSafe 
matplotlib 
matplotlib-inline 
mistune 
ml-dtypes==0.2.0
more-itertools 
msgpack==1.0.5
multitasking==0.0.11
munkres==1.1.4
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
numexpr 
numpy==1.23.5
oauthlib==3.2.2
openpyxl==3.0.10
opt-einsum==3.3.0
packaging 
pandas==1.5.3
pandas-datareader==0.10.0
pandocfilters 
parso
patsy==0.5.3
pexpect 
pickleshare 
Pillow==9.4.0
platformdirs
plotly==5.15.0
ply==3.11
pooch 
prometheus-client
prompt-toolkit
protobuf==4.23.3
psutil 
ptyprocess 
pure-eval 
py-cpuinfo 
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser
Pygments 
pyOpenSSL 
pyparsing 
PyQt5-sip==12.11.0
pyrsistent 
PySocks 
python-dateutil 
python-json-logger 
pytz 
PyYAML 
requests 
requests-oauthlib==1.3.1
soupsieve 
stack-data 
statsmodels==0.14.0
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow-estimator==2.12.0
tensorflow==2.12.0

